@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.gradient-text {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-with-r {
  color: #0b0223;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.a-small-text {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
}

/* navbar css start */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 110px;
}
.nav-logo-text {
  font-size: 45px;
  font-weight: 700;
}
.gamer-logo {
  display: flex;
  align-items: center;
}
.nav-logo-img {
  width: 86px;
  height: 40px;
  margin-right: 10px;
}
.text-g {
  color: #ff42a5;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links li {
  list-style: none;
  margin-right: 32px;
}
.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 262px;
  height: 56px;
  border: 0;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
.btn-icon img {
  width: 24px;
  height: 20px;
  margin-left: 20px;
}

/* nav style end */

/* banner section css start */
.banner-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.banner-content {
  background-image: url(../images/Group\ 14.png);
  width: 901px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-img {
  width: 711px;
}
.play-like-text {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
}
.goat-text {
  font-size: 95px;
  font-weight: 800;
}
.banner-option {
  list-style: none;
}
.banner-option li {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.banner-btn-container {
  margin-top: 30px;
}
.signIn-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 18px 40px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  border: 0;
}
.rogue-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 18px 40px;
  border-radius: 48px;
  border-radius: 48px;
  background: #4ec5f7;
  border: 0;
}